<div class="container-fluid" style="background-color: rgb(6, 3, 53);color:lightgrey;margin-top: 30px;">
<p class="text-center" style="padding: 15px;margin-bottom: 0px;">&copy;2024 All right reserved | Designed in Node.js<br />Kenp</p>
</div>