<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand text-danger" href="/">Dataman</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto"> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view">View Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add-post">Add Post</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About Us
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- banner -->
   <div style="background-image: url(../img/main-banner1.jpg); size:cover; width: 100%;padding: 10px;color:white;text-align: center;height: 200px;">
    <h1>Dataman for ALl</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis voluptatem sapiente et consequatur illo inventore ex, quo voluptates ab accusantium odio alias commodi neque ipsa aut, id veritatis. Porro?</p>
   </div>
  